@page
@model TheEmporium.Pages.ProductModel
@{
    ViewData["Title"] = "Product";
}

<div class="container">
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ProductType.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductType.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Manufacturer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Manufacturer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Brand)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.Display("Image")
            </dt>
            <dd class="col-sm-10">
                <div class="row">
                     <img class="img-fluid" src="~/images/@Model.Product.Images.Location" alt="Image of @Model.Product.Name"/>
                </div>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.DateCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.DateCreated)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.DateModified)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.DateModified)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Quantity)
            </dd>
        </dl>
    </div>
</div>


