@page
@model TheEmporium.Pages.ProductModel
@{
	ViewData["Title"] = "Product";
}

<div class="container">
	@if(!string.IsNullOrWhiteSpace((string) ViewData["Result"]))
	{
		if (ViewData["Result"].ToString() == "Success")
		{
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>@Model.Product.Name has been added to your shopping cart.</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		}
		else
		{
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Error - the product has not been added to the shopping cart.</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		}
		ViewData["Result"] = string.Empty;
	}

	<div>
		<h4 class="display-4">@Model.Product.ProductType.Name</h4>
		<hr/>
		<div class="row">
			<div class="col-sm-4">
				<img class="card-img-top img-fluid"
				     src="~/images/@Model.Product.Images.Location"
				     alt="Image of @Model.Product.Name"/>
			</div>
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body">
						<h6 class="card-title">@Model.Product.Manufacturer - @Model.Product.Name</h6>
						<p class="card-text">@Model.Product.Description</p>
						<p class="card-text">Price: ʛ @Model.Product.Price</p>
					</div>
				</div>
			</div>
			<form method="post">
				@Html.HiddenFor(x => x.Product.ProductType.Name)
				@Html.HiddenFor(x => x.Product.Id)
				@Html.HiddenFor(x => x.Product.Images.Location)
				@Html.HiddenFor(x => x.Product.Name)
				@Html.HiddenFor(x => x.Product.Manufacturer)
				@Html.HiddenFor(x => x.Product.Description)
				@Html.HiddenFor(x => x.Product.Price)
				<div class="form-group">
					<label for="quantity">Quantity</label>
					<input type="number" class="form-control" name="quantity" id="quantity" min="1" step="1" value="1"/>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" text="Add to Cart" name="Add to Cart"/>
				</div>
			</form>
		</div>
	</div>
</div>


