@page
@model TheEmporium.Pages.ProductModel
@{
	ViewData["Title"] = "Product";
}

<div class="container">
	<div>
		<h4 class="display-4">@Model.Product.ProductType.Name</h4>
		<hr />
		<div class="row">
			<div class="col-sm-4">
				<img class="card-img-top img-fluid" 
				     src="~/images/@Model.Product.Images.Location" 
				     alt="Image of @Model.Product.Name" />
			</div>
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body">
						<h6 class="card-title">@Model.Product.Manufacturer - @Model.Product.Name</h6>
						<p class="card-text">@Model.Product.Description</p>
					</div>
					<div class="card-footer">Price: ʛ @Model.Product.Price</div>
				</div>
			</div>
		</div>
	</div>
</div>


